/*@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&family=Oswald:wght@300&family=PT+Sans+Narrow&display=swap');*/
/*font-family: 'Fira Sans', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'PT Sans Narrow', sans-serif;*/

body
{
    margin: auto;
    height: 100vh;
}

/*PAGE-BOUTIQUE_ALL*/
.test{
    background-color: red;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    color: red;
}
.text_category
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'PT Sans Narrow', sans-serif;

}
.text_category a
{
    text-decoration: none;
}
.picture_category
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 30px;
    font-weight: bold;

}

/*DETAIL-PRODUIT*/

.picture2_category
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    font-family: 'Oswald', sans-serif;

}
.picture3_category
{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Oswald', sans-serif;

}
.text_police
{
    font-size: 10px;
}

.flex_detail_product
{
    display: flex;
    flex-direction: column;
    margin: 5px;
}
.flex_product
{
    display: flex;
    flex-direction: column;
    font-family: 'Oswald', sans-serif;
    font-size: 13px;
}
#taille
{
border: none;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    border-bottom: solid 1px;

}

#quantite
{
    border: none;
    border-bottom: solid 1px;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
}

input[type="submit"]{
    cursor:pointer;
    border: none;
    padding: 10px;
    font-family: 'PT Sans Narrow', sans-serif;
    color: white;
    background-color: black;
}

textarea
{
    resize: none;
    border: none;
    border-bottom: solid 1px;
    border-top: solid 1px;
    font-family: 'PT Sans Narrow', sans-serif;
    color: #aaaaaa;
}

.select_flex
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/*PAGE-PANIER*/
.new_article
{
    color: red;
}
.picture_category4
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'PT Sans Narrow', sans-serif;
}
.trash_basket
{
    max-width: 25px;
}
.td_total
{
    border-top: 1px solid black;
    width: 600px;
    margin-top: 20px;
}

.empty_basket, .panier_achat, .panier1_achat
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'PT Sans Narrow', sans-serif;

}
.panier3_achat
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'PT Sans Narrow', sans-serif;
    background-color: rgb(185, 50, 50);
    text-decoration: none;
    color: white;
    padding-bottom: 3px;
}
.class_A a
{
   text-decoration: white;
}


.panier_achat
{
   padding: 5px;
}
.panier1_achat
{
    border-top: 1px solid black;
    width: 40%;
    padding: 10px;
    background-color: black;
    color: white;
}
.bask_panier_flex
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 10px;
    font-family: 'Oswald', sans-serif;
}
.nouveaute
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'PT Sans Narrow', sans-serif;
    padding-top: 30px;
}
.flex_product5
{
    display: flex;
    flex-direction: column;
    font-family: 'Oswald', sans-serif;
    font-size: 12px;
}