@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

body{
    margin: 0;
}

/** {*/
/*    !* cursor: url(img/cursor.png); *!*/
/*    cursor: url(img/cursor.cur);*/
/*}*/

header {
    width: 100%;
    position: fixed;
    /* display: flex;
    flex-direction: row;
    justify-content: space-between; */
}

.hamburger-icon {
    position: absolute;
    z-index: 1;
    top: 5vh;
    left: 5vw;
    padding-bottom: 2vh;
}

.hamburger-icon span {
    height: 3px;
    width: 35px;
    background-color: black;
    display: block;
    margin: 5px 0px 5px 0px;
    transition: 0.7s ease-in-out;
    transform: none;
}

#openmenu:checked~.menu-pane {
    left: 2vw;
    transform: translateX(-5vw);
}

#openmenu:checked~.hamburger-icon span:nth-of-type(2) {
    transform: translate(0%, 255%) rotate(-45deg);
    background-color: white;
}

#openmenu:checked~.hamburger-icon span:nth-of-type(3) {
    transform: rotate(45deg);
    background-color: white;
}

#openmenu:checked~.hamburger-icon span:nth-of-type(1) {
    opacity: 0;
}

#openmenu:checked~.hamburger-icon span:nth-of-type(4) {
    opacity: 0;
}

div.menu-pane {
    background-color: rgba(0, 0, 0, 0.658);
    position: absolute;
    transform: translateX(-50vw);
    /*transform-origin:(0, 0);*/
    width: 35vw;
    height: 100vh;
    transition: 0.8s linear;
}

.menu-pane p {
    color: black;
    font-size: 0.6em;
}


/* .menu-pane nav {
    padding: 10%;
} */

.menu-links,
a,
span {
    transition: 0.7s linear;
}

.menu-links {
    margin-top: 30%;
    margin-left: 25%;
}

.menu-links a {
    color: white;
    text-decoration: none;
    font-size: 1em;
    font-family: 'Raleway', sans-serif;
}

.menu-links a::before {
    /* color: #FFAB91; */
    content: '';
    position: absolute;
    height: 1px;
    width: 0;
    left: 0;
    margin-left: 20%;
    margin-top: 25px;
    background: #ffffff;
    transition: all .7s ease;
}

.menu-links a:hover:before {
    width: 50%;
}

input.hamburger-checkbox {
    position: absolute;
    z-index: 3;
    top: 5vh;
    left: 5vw;
    width: 10vw;
    opacity: 0;
    height: 6vh;
}





.nav_bis {
    /*width: 50%;*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    float: right;
    width: 60%;
}

.title{
    width: 30%;
    /*background-color: green;*/
}

.title img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.search_icon a{
    color: black;
    font-family: 'Oswald', sans-serif;
}

.link_user {
    margin-right: 4%;
}

.link_user a {
    color: black;
    font-size: 0.6em;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    transition: 0s;
}

.link_user a:hover {
    color: red;
}


/*VIDEO*/

.video{
    width: 70%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding: 8%;
}



/* TEXTE DEFILANT */

.txt_defilant {
    /*margin-top: 5%;*/
    max-width: 100%;
    font-size: 1.5em;
    margin: 1em auto 2em;
    overflow: hidden;
    color: rgb(185, 50, 50);
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: bold
}

.txt_defilant> :first-child {
    display: inline-block;
    padding-right: 2em;
    padding-left: 100%;
    white-space: nowrap;
    animation: txt_defilant 17s infinite linear;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes txt_defilant {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(-100%, 0, 0);
    }
}


/* INFO ACHAT */

.container_info {
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    /* border: 1px solid black; */
    padding: 2%;
    width: 95%;
}

.picture_category{
    margin-bottom: 5%;
}

.info {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100px;
    border: 1px solid rgb(184, 175, 175);
    padding: 1%;
}

.info i {
    font-size: 2em;
    color: rgb(95, 95, 95);
}

.info p {
    font-size: 1em;
    font-family: 'Barlow Semi Condensed', sans-serif;
    color: #d71818;
}


/* BANNIERE IMAGE MEN */

h4 {
    font-size: 1.3em;
    font-family: 'Barlow Semi Condensed', sans-serif;
    text-align: center;
    font-weight: lighter;
}

.img_principal {
    width: 70%;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.container_img {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.main_img {
    width: 50%;
}

/*NEWSLETTER*/

.container_newsletter{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.container_newsletter h1{
    font-family: 'Oswald', sans-serif;
    font-weight: lighter;
    font-size: 1.2em;
}

.container_newsletter input{
    border: none;
    border-bottom: 1px solid black;
}

.container_newsletter label{
    font-family: 'Oswald', sans-serif;
    font-weight: lighter;
}

.container_newsletter input:focus{
    outline: none;
    border-bottom: 1px solid red;
}

.container_newsletter button{
    font-family: 'Oswald', sans-serif;
    font-weight: lighter;
    border: none;
    background-color: white;
    width: 15%;
    height: 10%;
    font-size: 1.2em;
    border-radius: 5px;
}

.container_newsletter button:hover{
    color: red;
    cursor: pointer;
}

/*FOOTER*/

footer{
    margin-top: 7%;
}


.menu {
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.8);
    display: inline-block;
    margin-left: 16%;
    cursor: pointer;
    pointer-events: none;
    font-family: 'Oswald', sans-serif;
}
.menu:hover {
    pointer-events: all;
}
.label {
    display: inline-block;
    cursor: pointer;
    pointer-events: all;
}
.spacer {
    display: inline-block;
    width: 80px;
    margin-left: 15px;
    margin-right: 15px;
    vertical-align: middle;
    cursor: pointer;
    position: relative;
}
.spacer:before {
    content: "";
    position: absolute;
    border-bottom: 1px solid #000000;
    height: 1px;
    width: 0%;
    transition: width 0.25s ease;
    transition-delay: 0.7s;
}
.item {
    position: relative;
    display: inline-block;
    margin-right: 30px;
    top: 10px;
    opacity: 0;
    transition: opacity 0.5s ease, top 0.5s ease;
    transition-delay: 0s;
}
span {
    transition: color 0.5s ease;
}
.item:hover span {
    color: #d77118;
}
.menu:hover .spacer:before {
    width: 100%;
    transition-delay: 0s;
}
.menu:hover .item {
    opacity: 1;
    top: 0px;
}
.item:nth-child(1) {
    transition-delay: 0.45s;
}
.item:nth-child(2) {
    transition-delay: 0.4s;
}
.item:nth-child(3) {
    transition-delay: 0.35s;
}
.item:nth-child(4) {
    transition-delay: 0.3s;
}
.item:nth-child(5) {
    transition-delay: 0.25s;
}
.item:nth-child(6) {
    transition-delay: 0.2s;
}
.item:nth-child(7) {
    transition-delay: 0.15s;
}
.item:nth-child(8) {
    transition-delay: 0.1s;
}
.item:nth-child(9) {
    transition-delay: 0.05s;
}
.item:nth-child(10) {
    transition-delay: 0s;
}
.menu:hover .item:nth-child(1) {
    transition-delay: 0.25s;
}
.menu:hover .item:nth-child(2) {
    transition-delay: 0.3s;
}
.menu:hover .item:nth-child(3) {
    transition-delay: 0.35s;
}
.menu:hover .item:nth-child(4) {
    transition-delay: 0.4s;
}
.menu:hover .item:nth-child(5) {
    transition-delay: 0.45s;
}
.menu:hover .item:nth-child(6) {
    transition-delay: 0.5s;
}
.menu:hover .item:nth-child(7) {
    transition-delay: 0.55s;
}
.menu:hover .item:nth-child(8) {
    transition-delay: 0.6s;
}
.menu:hover .item:nth-child(9) {
    transition-delay: 0.65s;
}
.menu:hover .item:nth-child(10) {
    transition-delay: 0.7s;
}

.menu_shop{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 2%;
    margin-bottom: 4%;
}

.menu_shop a{
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    color: black;
    font-size: 0.6em;
    font-weight: bold;
}


/*404*/

.logo404{
    width: 35%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
}

.body404 h1{
    text-align: center;
    font-family: 'Barlow Condensed', sans-serif;
}

.body404 h2{
    text-align: center;
    font-family: 'Barlow Condensed', sans-serif;
}

.body404 a{
    text-decoration: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    font-family: 'Barlow Condensed', sans-serif;
    color: black;
    transition: 0s;
}

.body404 a:hover{
    color: red;
}

